<div id="{{ content.data.slug }}">
<div class="accordion-header" id="accordion-heading-item-{{ content.data.id }}">
   <button class="accordion-button button-atom collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-body-item-{{ content.data.id }}" aria-expanded="true" aria-controls="collapseOne">
        <h2 class="heading">{{ content.data.title }}</h2>
        {{ macros.atomV1IconHtml('accordion-icon', content.data.arrow, false, false, design.icon.icon) }}
   </button>
</div>
<div id="accordion-body-item-{{ content.data.id }}" class="accordion-collapse collapse" aria-labelledby="accordion-heading-item-{{ content.data.id }}" data-bs-parent="#test-accordion-parent">
  <div class="accordion-body">
	%%CHILDREN%%
  </div>
</div>
</div>