{% set separator = ' ' ~ content.data.separator ~ ' ' |default(' - ') %}
{% set separator = '<span class="separator"> ' ~ separator ~ '</span>' %}
{% set date_format = content.data.date_format|default('m/d/Y') %}
{% if content.data.open_links_in_new_tab %}
	{% set target = 'target="_blank"' %}
{% else %}
	{% set target = '' %}
{% endif %}

{% for item in content.data.items %}
  <li>
    <span class="date">{{ item.date|date(date_format) }}</span> 
    {% if item.publication is not empty %}
    	{{ separator|raw }}
    	<span class="publication"> {{ item.publication }} </span>
    {% endif %}
    
    {% if item.link is not empty and item.article_title is not empty %}
    	{{ separator }} <a href="{{ item.link }}" class="link" {{ target|raw }}>{{ item.article_title }}</a>
    {% elseif item.link is empty and item.article_title is not empty %}
   		{{ separator }} <span class="title no-link">{{ item.article_title }}</span>
    {% endif %}
  </li>
{% endfor %}


